:root {
  --mobile-margin-around: 0 13px;
  --mg-between-sections: 85px;
  --mg-work-section: 33px;
  --max-width: 1226px;
  --background-color-prm: #101014;
  --background-color-scn: #ffffff;
  --regular-font: "MontserratRegular";
  --medium-font: "MontserratMedium";
  --semibold-font: "MontserratSemiBold";
  --bold-font: "MontserratBold";
  --primary-color: #fff;
  --secondary-color: #63E2B7;
  --page-color: #484848;
  --description-color: #989898;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

@font-face {
  font-family: "MontserratRegular";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(/Art-Bit/fonts/Montserrat-Regular.woff2) format("woff2"), url(/Art-Bit/fonts/Montserrat-Regular.woff) format("woff"), url(/Art-Bit/fonts/Montserrat-Regular.eot) format("eot");
  font-display: swap;
}
@font-face {
  font-family: "MontserratMedium";
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(/Art-Bit/fonts/Montserrat-Medium.woff2) format("woff2"), url(/Art-Bit/fonts/Montserrat-Medium.woff) format("woff"), url(/Art-Bit/fonts/Montserrat-Medium.eot) format("eot");
  font-display: swap;
}
@font-face {
  font-family: "MontserratSemiBold";
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(/Art-Bit/fonts/Montserrat-SemiBold.woff2) format("woff2"), url(/Art-Bit/fonts/Montserrat-SemiBold.woff2) format("woff"), url(/Art-Bit/fonts/Montserrat-SemiBold.eot) format("eot");
  font-display: swap;
}
@font-face {
  font-family: "MontserratBold";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(/Art-Bit/fonts/Montserrat-Bold.woff2) format("woff2"), url(/Art-Bit/fonts/Montserrat-Bold.woff) format("woff"), url(/Art-Bit/fonts/Montserrat-Bold.eot) format("eot");
  font-display: swap;
}
body {
  background-color: var(--background-color-prm);
}

.try-btn__link {
  position: relative;
  padding: 17px 27px;
  border: 2px solid var(--secondary-color);
  font-family: "MontserratSemiBold";
  font-size: 18px;
  color: var(--secondary-color);
  transition: all 0.2s ease;
}
.try-btn__link::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 40px;
  width: calc(100% - 80px);
  height: calc(100% + 4px);
  background-color: var(--background-color-prm);
  transition: all 1s ease-in-out;
  transform: scaleY(1);
}
.try-btn__link:hover::before {
  transform: scaleY(0);
}
.try-btn__link:active {
  border-color: var(--description-color);
  color: var(--description-color);
}

.try-btn__title {
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 834px) {
  .try-link {
    font-size: 20px;
  }
}
.image-slider {
  margin-top: 40px;
}
.image-slider .image-slider__slide {
  width: 90px !important;
}
.image-slider .image-slider__image {
  width: 90px !important;
}
.image-slider__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px !important;
}
.image-slider__name {
  margin: 0 auto;
  padding-top: 15px;
  font-family: var(--semibold-font);
  font-size: 14px;
  color: var(--primary-color);
}

@media screen and (min-width: 525px) {
  .image-slider {
    display: none;
  }
}
.slider .swiper-container {
  width: 100%;
  height: 100%;
}

.text-group__page {
  font-family: var(--regular-font);
  font-size: 13px;
  color: var(--page-color);
}
.text-group__title {
  font-family: var(--regular-font);
  font-size: 19px;
  color: var(--description-color);
}

@media screen and (min-width: 834px) {
  .text-group__page {
    font-size: 22px;
  }
  .text-group__title {
    font-size: 32px;
  }
}
.header {
  max-width: var(--max-width);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin: var(--mobile-margin-around);
}
.header__img {
  padding-top: 5px;
  width: 36px;
}
.header__blur {
  position: absolute;
  top: 10px;
  left: -20px;
  background: rgba(16, 41, 33, 0.34);
  filter: blur(42px);
}
.header__nav {
  display: none;
  font-family: var(--medium-font);
  color: var(--primary-color);
}
.header__btn {
  display: none;
}
.header__menu {
  cursor: pointer;
}

@media screen and (min-width: 834px) {
  .header {
    margin: 0 auto;
    padding: 30px 13px 90px 13px;
  }
  .header__img {
    width: 50px;
  }
  .header__blur {
    top: 15px;
    left: 0px;
  }
  .header__icon {
    width: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 30px 13px 90px 13px;
  }
  .header__blur {
    left: 0px;
  }
  .header__nav {
    display: flex;
    font-size: 16px;
  }
  .header__list {
    display: flex;
    gap: 55px;
    cursor: pointer;
  }
  .header__item {
    position: relative;
    transition: all 0.2s ease;
  }
  .header__item:hover {
    color: var(--description-color);
  }
  .header__item:hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 34px;
    height: 2px;
    background: var(--secondary-color);
    color: var(--description-color);
  }
  .header__item:active {
    color: var(--primary-color);
  }
  .header__btn {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 8px 10px;
    font-family: var(--semibold-font);
    font-size: 18px;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .header__btn:hover {
    background-color: transparent;
    border-color: var(--description-color);
    color: var(--secondary-color);
  }
  .header__btn:hover .header__user-icon {
    stroke: var(--secondary-color);
  }
  .header__btn:active {
    color: var(--description-color);
  }
  .header__btn:active .header__user-icon {
    stroke: var(--description-color);
  }
  .header__user-icon {
    width: 16px;
    stroke: black;
  }
  .header__menu {
    display: none;
  }
}
.greeting {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--mobile-margin-around);
}
.greeting__companies {
  margin: 0 auto;
}
.greeting__img {
  width: 100%;
  max-width: 468px;
}
.greeting__title {
  font-family: "MontserratBold";
  font-size: 28px;
}
.greeting__title--white {
  color: var(--primary-color);
}
.greeting__title--green {
  color: var(--secondary-color);
}
.greeting__description {
  margin: 16px 0 20px 0;
  padding-bottom: 35px;
  font-family: "MontserratRegular";
  color: var(--description-color);
}

@media screen and (min-width: 834px) {
  .greeting {
    position: relative;
    flex-direction: row;
    align-items: center;
    padding-top: 125px;
  }
  .greeting__companies {
    position: absolute;
    right: 13px;
    order: 2;
    width: 60%;
  }
  .greeting__img {
    min-width: 468px;
    max-width: 695px;
  }
  .greeting__title {
    max-width: 80%;
    font-size: 32px;
  }
  .greeting__description {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .greeting {
    padding: 110px 13px 0 13px;
  }
  .greeting__img {
    max-width: 695px;
  }
  .greeting__title {
    font-size: 40px;
  }
  .greeting__description {
    padding-bottom: 45px;
  }
}
.platforms {
  margin: var(--mobile-margin-around);
  padding-top: 100px;
  max-width: var(--max-width);
}
.platforms__list {
  display: none;
}

@media screen and (min-width: 525px) {
  .platforms__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  .platforms__element {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .platforms__title {
    padding-top: 15px;
    font-family: var(--semibold-font);
    font-size: 14px;
    color: var(--primary-color);
  }
}
@media screen and (min-width: 834px) {
  .platforms__image {
    width: 140px;
  }
  .platforms__title {
    font-size: 20px;
  }
  .text-group__page {
    font-size: 22px;
  }
  .text-group__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .platforms {
    margin: 145px auto 0 auto;
    padding: 100px 13px 0 13px;
  }
  .platforms__image {
    width: 210px;
    margin-top: 50px;
  }
}
.tokens {
  max-width: var(--max-width);
  padding: var(--mg-between-sections) 13px 100px 13px;
  margin: 0 auto;
}
.tokens__elements-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
  -moz-column-gap: 5%;
       column-gap: 5%;
  padding: 43px 0 60px 0;
}
.tokens__element {
  position: relative;
  text-align: center;
  padding: 21px 0;
  border: 2px solid var(--page-color);
  color: var(--primary-color);
}
.tokens__element::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 40px;
  width: calc(100% - 80px);
  height: calc(100% + 4px);
  background-color: var(--background-color-prm);
}
.tokens__image {
  position: relative;
  width: 60px;
}
.tokens__name {
  position: relative;
  margin: 17px auto 2px;
  font-family: var(--semibold-font);
  font-size: 26px;
}
.tokens__description {
  position: relative;
  font-family: var(--regular-font);
  color: var(--page-color);
}
.tokens__try-btn {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .tokens {
    padding: var(--mg-between-sections) 13px;
  }
}
.banks {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--mobile-margin-around);
}
.banks__elements-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(92px, 1fr));
  justify-content: center;
  align-items: center;
  grid-row-gap: 31px;
  grid-column-gap: 16px;
  margin: 0 auto;
  padding: 43px 0 30px 0;
}
.banks__element {
  position: relative;
  margin: 0 auto;
  width: 92px;
}
.banks__name {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
  font-family: var(--regular-font);
  font-size: 14px;
  color: var(--description-color);
}
.banks__description {
  text-align: center;
  font-family: var(--regular-font);
  color: var(--primary-color);
}
.banks__arrow-left {
  display: none;
}
.banks__arrow-right {
  display: none;
}
.banks__description-group {
  display: flex;
  justify-content: center;
  gap: 75px;
}

@media screen and (min-width: 834px) {
  .banks__element {
    width: 140px;
  }
  .banks__image {
    width: 140px;
  }
  .banks__name {
    font-size: 20px;
  }
  .banks__arrow-left {
    display: flex;
  }
  .banks__description {
    font-size: 20px;
  }
  .banks__arrow-right {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .banks__element {
    width: 210px;
  }
  .banks__image {
    width: 210px;
  }
  .banks__name {
    font-size: 27px;
  }
  .banks__description-group {
    padding-top: 30px;
  }
}
.work {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--mg-between-sections) 13px;
}
.work__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--mg-work-section) 0;
}
.work__preview {
  display: flex;
  justify-content: center;
  padding-bottom: var(--mg-work-section);
}
.work__image {
  width: 100%;
  max-width: 497px;
}
.work__description {
  font-family: var(--regular-font);
  font-size: 20px;
  color: var(--primary-color);
}
.work__description--gray {
  display: block;
  color: var(--page-color);
}
.work__description--white {
  display: block;
}
.work__first-paragraph {
  margin-bottom: 15px;
}
.work__second-paragraph {
  margin-bottom: 50px;
}

@media screen and (min-width: 834px) {
  .work__info {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .work__preview {
    order: 2;
  }
  .work__image {
    min-width: 497px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .work__description {
    font-size: 24px;
  }
  .work__try-btn {
    margin-top: 150px;
  }
  .work__image {
    min-width: 690px;
  }
}