html {
  font-size: 62.5%;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

@font-face {
  font-family: "MontserratRegular";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(/Art-Bit/fonts/Montserrat-Regular.woff2) format("woff2"), url(/Art-Bit/fonts/Montserrat-Regular.woff) format("woff"), url(/Art-Bit/fonts/Montserrat-Regular.eot) format("eot");
  font-display: swap;
}
@font-face {
  font-family: "MontserratMedium";
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(/Art-Bit/fonts/Montserrat-Medium.woff2) format("woff2"), url(/Art-Bit/fonts/Montserrat-Medium.woff) format("woff"), url(/Art-Bit/fonts/Montserrat-Medium.eot) format("eot");
  font-display: swap;
}
@font-face {
  font-family: "MontserratSemiBold";
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(/Art-Bit/fonts/Montserrat-SemiBold.woff2) format("woff2"), url(/Art-Bit/fonts/Montserrat-SemiBold.woff2) format("woff"), url(/Art-Bit/fonts/Montserrat-SemiBold.eot) format("eot");
  font-display: swap;
}
@font-face {
  font-family: "MontserratBold";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(/Art-Bit/fonts/Montserrat-Bold.woff2) format("woff2"), url(/Art-Bit/fonts/Montserrat-Bold.woff) format("woff"), url(/Art-Bit/fonts/Montserrat-Bold.eot) format("eot");
  font-display: swap;
}
body {
  padding: 2rem 0;
  background-color: #101014;
  width: 100%;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8.5rem;
  padding: 2rem 0;
  margin: 0 auto;
}
@media screen and (min-width: 834px) {
  main {
    gap: 10rem;
    padding: 20rem 0;
  }
}

header, section, footer {
  max-width: 1226px;
  margin: 0 auto;
  padding: 0 1.3rem;
}
@media screen and (min-width: 834px) {
  header, section, footer {
    padding: 0 1.3rem;
  }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.button {
  position: relative;
  padding: 1.7rem 2.7rem;
  border: 2px solid #63E2B7;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 1.8rem;
  color: #63E2B7;
  transition: all 0.2s ease;
}
@media screen and (min-width: 834px) {
  .button {
    font-size: 2rem;
  }
}
.button::before {
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 4rem;
  width: calc(100% - 8rem);
  height: 6.2rem;
  background-color: #101014;
  transition: all 1s ease-in-out;
  transform: scaleY(1);
}
.button:hover::before {
  transform: scaleY(0);
}
.button:active {
  border-color: #989898;
  color: #989898;
}
.button--secondary {
  color: #c6c6c6;
  border-color: #c6c6c6;
}
.button__title {
  position: relative;
  z-index: 3;
}

.text-group {
  margin-bottom: 1rem;
}
.text-group__page {
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.4rem;
  color: #989898;
}
@media screen and (min-width: 834px) {
  .text-group__page {
    font-size: 2.3rem;
  }
}
.text-group__title {
  font-family: "MontserratRegular", sans-serif;
  font-size: 2rem;
  color: #c6c6c6;
}
@media screen and (min-width: 834px) {
  .text-group__title {
    font-size: 3.4rem;
  }
}

.header {
  position: relative;
  max-width: 1226px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 3.6rem;
}
@media screen and (min-width: 834px) {
  .header__img {
    width: 5rem;
  }
}
.header__blur {
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
  width: 5rem;
  background: rgba(16, 41, 33, 0.34);
  filter: blur(2rem);
}
@media screen and (min-width: 834px) {
  .header__blur {
    top: -1rem;
    left: 0;
    width: 7rem;
  }
}
@media screen and (min-width: 1200px) {
  .header__blur {
    left: 0;
  }
}
.header__nav {
  display: none;
  font-family: "MontserratMedium", sans-serif;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: flex;
    gap: 5.5rem;
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .header__item {
    position: relative;
    transition: all 0.2s ease-in-out;
  }
  .header__item:hover {
    color: #989898;
  }
  .header__item:hover::after {
    opacity: 1;
  }
  .header__item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    height: 2px;
    width: 3.4rem;
    background: #63E2B7;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  .header__item:active {
    color: #fff;
  }
}
.header__btn {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__btn {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    padding: 0.8rem 1rem;
    font-family: "MontserratSemiBold", sans-serif;
    font-size: 1.8rem;
    background-color: #63E2B7;
    border: 2px solid #63E2B7;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .header__btn:hover {
    background-color: transparent;
    border-color: #989898;
    color: #63E2B7;
  }
  .header__btn:hover .header__user-icon {
    stroke: #63E2B7;
  }
  .header__btn:active {
    color: #989898;
  }
  .header__btn:active .header__user-icon {
    stroke: #989898;
  }
}
@media screen and (min-width: 1200px) {
  .header__user-icon {
    width: 1.6rem;
    stroke: black;
  }
}
@media screen and (min-width: 834px) {
  .header__icon {
    width: 2.5rem;
  }
}
.header__menu {
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .header__menu {
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1226px;
  padding: 8.5rem auto 1.3rem 2rem;
}
.footer__logo-group {
  position: relative;
  margin-bottom: 8.5rem auto;
  cursor: pointer;
}
.footer__blur {
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 9rem !important;
  background: rgba(99, 226, 183, 0.34);
  filter: blur(4.2rem);
  border-radius: 1.2rem;
}
.footer__text-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 5rem;
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.6rem;
  color: #989898;
}
@media screen and (min-width: 834px) {
  .footer__text-group {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 2rem;
    font-size: 1.8rem;
  }
}
.footer__text {
  text-align: center;
  cursor: pointer;
}
.footer__flags-group {
  display: flex;
  gap: 1.3rem;
  padding-bottom: 5rem;
}
.footer__flag {
  cursor: pointer;
}
.footer__icons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer__icon {
  width: 5rem;
  height: 5rem;
  background-color: #989898;
  border: 2px solid #989898;
  border-radius: 10rem;
  cursor: pointer;
}

@media screen and (min-width: 834px) {
  .slider--primary {
    display: none;
  }
}
.slider--primary .slider__slide {
  width: 9rem !important;
}
.slider--primary .slider__element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 9rem !important;
}
.slider--primary .slider__name {
  margin: 0 auto;
  padding-top: 1.5rem;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 1.4rem;
  color: #fff;
}
.slider--secondary {
  display: none;
}

.greeting {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
@media screen and (min-width: 834px) {
  .greeting {
    margin-bottom: 11rem;
  }
}
@media screen and (min-width: 834px) {
  .greeting {
    position: relative;
    flex-direction: row;
    align-items: center;
  }
}
.greeting__companies {
  margin: 0 auto;
}
@media screen and (min-width: 834px) {
  .greeting__companies {
    position: absolute;
    right: 1.3rem;
    order: 2;
    width: 60%;
  }
}
.greeting__img {
  width: 100%;
  max-width: 46.9rem;
}
@media screen and (min-width: 834px) {
  .greeting__img {
    min-width: 46.8rem;
    max-width: 69.5rem;
  }
}
.greeting__title {
  font-family: "MontserratBold", sans-serif;
  font-size: 2.6rem;
}
.greeting__title--primary {
  color: #fff;
}
.greeting__title--secondary {
  color: #63E2B7;
}
@media screen and (min-width: 834px) {
  .greeting__title {
    max-width: 80%;
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .greeting__title {
    font-size: 4rem;
  }
}
.greeting__description {
  margin: 1.6rem 0 2rem;
  padding-bottom: 3.5rem;
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.6rem;
  color: #989898;
}
@media screen and (min-width: 834px) {
  .greeting__description {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .greeting__description {
    padding-bottom: 4.5rem;
  }
}

.platforms > .elements-group {
  display: none;
}
@media screen and (min-width: 834px) {
  .platforms > .elements-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
}
.platforms > .elements-group__element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 834px) {
  .platforms__image {
    width: 14rem;
  }
}
@media screen and (min-width: 1200px) {
  .platforms__image {
    width: 21rem;
  }
}
@media screen and (min-width: 834px) {
  .platforms__title {
    padding-top: 1.5rem;
    font-family: "MontserratSemiBold", sans-serif;
    font-size: 1.4rem;
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .platforms__title {
    font-size: 2rem;
  }
}

.tokens > .elements-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4rem;
  column-gap: 5%;
}
@media screen and (min-width: 834px) {
  .tokens > .elements-group {
    column-gap: 10%;
  }
}
@media screen and (min-width: 1200px) {
  .tokens > .elements-group {
    row-gap: 8.5rem auto;
  }
}
.tokens > .elements-group .tokens__element {
  position: relative;
  width: 16.2rem;
  padding: 2.1rem 0;
  text-align: center;
  border: 2px solid #484848;
  color: #fff;
}
@media screen and (min-width: 834px) {
  .tokens > .elements-group .tokens__element {
    width: 20rem;
  }
}
@media screen and (min-width: 1200px) {
  .tokens > .elements-group .tokens__element {
    width: 30rem;
  }
}
.tokens > .elements-group .tokens__element::before {
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 4rem;
  width: calc(100% - 8rem);
  height: calc(100% + 0.4rem);
  background-color: #101014;
}
.tokens__image {
  position: relative;
  width: 6rem;
}
.tokens__name {
  position: relative;
  margin: 1.7rem auto 0.2rem;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 2.6rem;
}
.tokens__description {
  position: relative;
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.6rem;
  color: #484848;
  cursor: pointer;
}
@media screen and (min-width: 834px) {
  .tokens__description {
    font-size: 2rem;
  }
}
.tokens__button {
  text-align: center;
}

.banks__elements-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.6rem;
  row-gap: 3rem;
}
.banks__element {
  position: relative;
  display: flex;
  justify-content: center;
  width: 9.2rem;
}
@media screen and (min-width: 834px) {
  .banks__element {
    width: 14rem;
  }
}
@media screen and (min-width: 1200px) {
  .banks__element {
    width: 21rem;
  }
}
@media screen and (min-width: 834px) {
  .banks__image {
    width: 14rem;
  }
}
.banks__name {
  position: absolute;
  bottom: 1.5rem;
  width: 9.2rem;
  text-align: center;
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.4rem;
  color: #989898;
}
@media screen and (min-width: 834px) {
  .banks__name {
    width: 14rem;
    font-size: 2rem;
  }
}
.banks__description {
  text-align: center;
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 834px) {
  .banks__description {
    font-size: 2rem;
  }
}
.banks__arrow-left, .banks__arrow-right {
  display: none;
  cursor: pointer;
}
@media screen and (min-width: 834px) {
  .banks__arrow-left, .banks__arrow-right {
    display: flex;
  }
}
.banks__description-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5rem;
}
@media screen and (min-width: 1200px) {
  .banks__description-group {
    padding-top: 3rem;
  }
}

.work {
  max-width: 1226px;
  padding: 8.5rem auto 1.3rem 2rem;
}
.work__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 834px) {
  .work__info {
    flex-direction: row;
  }
}
.work__preview {
  display: flex;
  justify-content: center;
  padding-bottom: 3.3rem;
}
@media screen and (min-width: 834px) {
  .work__preview {
    order: 2;
  }
}
.work__image {
  width: 100%;
  max-width: 49.7rem;
}
@media screen and (min-width: 834px) {
  .work__image {
    min-width: 49.7rem;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .work__image {
    min-width: 69rem;
  }
}
.work__description {
  font-family: "MontserratRegular", sans-serif;
  font-size: 2rem;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .work__description {
    font-size: 2.3rem;
  }
}
.work__description--primary {
  margin-bottom: 1.5rem;
}
.work__description--dark {
  display: block;
  color: #484848;
}
.work__description--secondary {
  margin-bottom: 5rem;
}
.work__description--light {
  display: block;
}

.suitable__element {
  padding: 2rem;
  background: url(/Art-Bit/media/wrapper.svg) no-repeat center;
  background-size: 100% 100%;
}
@media screen and (min-width: 834px) {
  .suitable__element {
    background: url(/Art-Bit/media/wrapper2.svg) no-repeat center;
    background-size: 100% 100%;
  }
}
@media screen and (min-width: 1200px) {
  .suitable__element {
    background: url(/Art-Bit/media/wrapper3.svg) no-repeat center;
    background-size: 100% 100%;
  }
}
.suitable__text-group {
  top: 0;
  font-family: "MontserratRegular", sans-serif;
  color: #fff;
}
.suitable__title-group {
  display: flex;
  align-items: center;
  gap: 2%;
  padding-bottom: 3rem;
}
.suitable__title {
  font-size: 2rem;
}
@media screen and (min-width: 834px) {
  .suitable__title {
    font-size: 3.4rem;
  }
}
.suitable__description {
  padding-bottom: 2rem;
  font-size: 1.8rem;
}
@media screen and (min-width: 834px) {
  .suitable__description {
    font-size: 2rem;
  }
}
.suitable__options {
  padding-bottom: 0.6rem;
  font-size: 1.4rem;
  color: #989898;
}
@media screen and (min-width: 834px) {
  .suitable__options {
    font-size: 1.6rem;
  }
}

.advantages {
  max-width: 100%;
  padding: 8.5rem 0;
  background-color: #fff;
}
.advantages__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 0 auto;
  padding: 0 13px;
  max-width: 1226px;
}
.advantages__element {
  padding: 3rem;
  border: 2px solid #000;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.advantages__element:hover {
  background-color: #000;
}
.advantages__element:hover .advantages__description {
  color: #fff;
}
.advantages__element:hover .advantages__arrow {
  stroke: #fff;
  fill: #fff;
}
.advantages__title-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.6rem;
}
.advantages__title {
  font-family: "MontserratMedium", sans-serif;
  font-size: 1.6rem;
  color: #989898;
}
@media screen and (min-width: 834px) {
  .advantages__title {
    font-size: 1.8rem;
  }
}
.advantages__arrow {
  fill: #000;
  stroke: #000;
}
.advantages__description {
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.4rem;
}
@media screen and (min-width: 834px) {
  .advantages__description {
    font-size: 1.6rem;
  }
}
.advantages--black {
  max-width: 1226px;
  padding: 8.5rem auto 1.3rem;
}
.advantages--black__video {
  position: relative;
}
.advantages--black__img {
  width: 100%;
}
.advantages--black__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages--black__title {
  padding-top: 1.5rem;
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

.subscription {
  max-width: 1226px;
  padding: 8.5rem auto 1.3rem;
}
.subscription__wrapper {
  display: none;
}
@media screen and (min-width: 834px) {
  .subscription__wrapper {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .subscription__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

.reviews {
  max-width: 1226px;
  padding: 0 1.3rem;
}

.developers {
  max-width: 1226px;
  padding: 8.5rem auto 1.3rem;
}
.developers__description {
  max-width: 85rem;
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.6rem;
  color: #989898;
}
.developers__description--secondary {
  text-decoration: underline;
  color: #63E2B7;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */