.advantages {
  @include max-width;

  padding: 0 13px;

  background-color: $bg-cl-scn;

  &__wrapper {
    @include block-settings;
  }

  &__elements-group {
    padding-top: 30px;
  }

  &__element {
    padding: 30px; 
    margin-bottom: 30px;

    border: 2px solid #000;

    cursor: pointer;

    &:hover {
      background-color: $bg-box-cl;

      .advantages__description {
        color: $prm-cl;
      }

      .advantages__arrow {
        stroke: $prm-cl;
        fill: $prm-cl;
      }
    }
  }

  &__title-group {
    @include d-flex;

    padding-bottom: 16px;

  }

  &__title {
    font-family: $medium-font;

    color: $desc-cl;
  }

  &__arrow {
    fill: $bg-box-cl;
    stroke: $bg-box-cl;
  }

  &__description {
    font-family: $regular-font;
  }

  &--black {  
    @include block-settings;
    padding: $mg-bw-sections 13px;

    &__video {
      position: relative;
    }

    &__img {
      width: 100%;
    }

    &__wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__play-icon {
      position: relative;

      padding: 17px 27px;

      border: 3px solid $prm-cl;

      &::before {
        content: '';
    
        position: absolute;
        top: -2px;
        left: 40px;
    
        width: calc(100% - 80px);
        height: calc(100% + 4px);
    
        background-color: black;
    
        transition: all 1s ease-in-out;
    
        transform: scaleY(1);
      }
    
      &:hover::before {
        transform: scaleY(0);
      }
    
      &:active {
        border-color: $desc-cl;
        color: $desc-cl;
        fill: $desc-cl;
      }
    }

    &__title {
      padding-top: 15px;

      font-family: $regular-font;
      font-size: 18px;
      
      color: $prm-cl;
    }
  }
}

@media screen and (min-width: 834px) {
  
}

@media screen and (min-width: 1200px) {

}