.banks {  
  @include block-settings;
  padding: $pd-around-mob;

  &__elements-group {
    @include d-grid;
    grid-template-columns: repeat(auto-fit, minmax(9.2rem, 1fr));
    grid-row-gap: $pd-hdr-top-mob;
    grid-column-gap: 1.6rem;

    margin: $mg-center;
    padding: 4.3rem $reset-space $pd-hdr-top-mob;
  }

  &__element {
    position: relative;

    @include d-flex-scn;

    margin: 0 auto;
    width: 9.2rem;

    @include for-tablet {
      width: $banks-wd;
    }

    @include for-desktop {
      width: 21rem;
    }
  }

  &__image {
    @include for-tablet {
      width: $banks-wd;
    }

    @include for-desktop {
      width: $banks-wd;
    }
  }

  &__name {
    position: absolute;
    bottom: 1.5rem;

    width: $full-wd;
    text-align: center;

    font-family: $regular-font;
    font-size: $fs-xxs;

    color: $desc-cl;

    @include for-tablet {
      font-size: $fs-m;
    }
  }

  &__description {
    text-align: center;

    font-family: $regular-font;

    color: $prm-cl;

    cursor: pointer;

    @include for-tablet {
      font-size: 2rem;
    }
  }

  &__arrow-left, &__arrow-right {
    display: none;
    cursor: pointer;

    @include for-tablet {
      display: flex;
    }
  }

  &__description-group {
    @include d-flex-scn;
    gap: 7.5rem;

    @include for-desktop {
      padding-top: $pd-hdr-top-mob;
    }
  }
}