.banks {  

  &__elements-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.6rem;
    row-gap: 3rem;
  }

  &__element {
    position: relative;

    display: flex;
    justify-content: center;

    width: $banks-ws-primary;

    text-align: center;

    @include for-tablet {
      width: $banks-wd-secondary;
    }

    @include for-desktop {
      width: 21rem;
    }
  }

  &__image {

    @include for-tablet {
      width: $banks-wd-secondary;
    }
  }

  &__name {
    position: absolute;
    bottom: 1.5rem;

    width: $banks-ws-primary;

    font-family: $regular-font;
    font-size: $fs-xxs;
    text-align: center;

    color: $desc-cl;

    @include for-tablet {
      width: $banks-wd-secondary;

      font-size: $fs-m;
    }
  }

  &__description {
    text-align: center;

    font-family: $regular-font;
    font-size: $fs-xs;

    color: $prm-cl;

    cursor: pointer;

    @include for-tablet {
      font-size: 2rem;
    }
  }

  &__arrow-left, &__arrow-right {
    display: none;
    cursor: pointer;

    @include for-tablet {
      display: flex;
    }
  }

  &__description-group {
    @include d-flex-scn;
    gap: 7.5rem;

    @include for-desktop {
      padding-top: $pd-hdr-top-mob;
    }
  }
}