.developers {
  @include block-settings;
  padding: $mg-bw-sections $pd-hdr-around-mob;

  &__description {
    max-width: 85rem;

    font-family: $regular-font;
    font-size: $fs-xs;

    color: $desc-cl;

    &--secondary {
      text-decoration: underline;

      color: $scn-cl;

      cursor: pointer;
    }
  }
}