.platforms {

  @include for-tablet {

  }

  >.elements-group {
    display: none;
  
    @include for-tablet {
      @include d-flex-prm;
      gap: 4rem;
    }
  
    &__element {
      @include d-flex-scn;
      flex-direction: column;
    }
  }

  &__image {
    @include for-tablet {
      width: $banks-wd-secondary;
    }

    @include for-desktop {
      width: 21rem;
    }
  }

  &__title {
    
    @include for-tablet {
      padding-top: 1.5rem;

      font-family: $semibold-font;
      font-size: $fs-xxs;

      color: $prm-cl;
    }

    @include for-desktop {
      font-size: $fs-m;
    }
  }
}