.platforms {

  &__list {
    display: none;
  }

  &__image {
    @include for-tablet {
      width: $banks-wd-secondary;
    }

    @include for-desktop {
      width: 21rem;
    }
  }

  &__title {
    @include for-desktop {
      font-size: $fs-m;
    }
  }
}

@media screen and (min-width: 834px) {
  .platforms {
    &__list {
      @include d-flex-prm;
    }

    &__element {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      padding-top: 1.5rem;

      font-family: $semibold-font;
      font-size: $fs-xxs;

      color: $prm-cl;
    }
  }
}