.reviews {
  @include block-settings;
  padding: $pd-around-mob;
}

.reviews-slider {

  &__container {
    @include d-flex-scn;
    flex-direction: column;

    padding-top: $mg-bw-sections;
  }

  &__group {
    position: relative;

    @include d-flex-prm;
    flex-direction: column;

    width: 26rem;
    height: 13rem;

    background-color: #17171B;

    @include for-desktop {
      width: 35rem;
    }
  }

  &__image {
    position: absolute;
    top: -$tokens-gap;
  }

  &__name {
    position: absolute;
    top: $mg-bw-sections;

    font-family: $semibold-font;
    font-size: $fs-m;

    color: $prm-cl;
  }

  &__rating {
    margin-top: $space-bw-box;
  }

  &__symbol {
    margin-top: $space-bw-box;

    font-family: $semibold-font;
    font-size: $fs-xxl;

    color: $scn-cl;
  }

  &__description {
    width: 26rem;

    font-family: $regular-font;
    font-size: $fs-xs;

    color: $desc-cl;
  }

  &__button {
    margin-top: $slider-wd;

    color: white;

    @include for-desktop {
      display: none;
    }
  }
}