.subscription {
  @include block-settings;

  padding: $mg-bw-sections $pd-hdr-around-mob;

  &__wrapper {
    display: none;

    @include for-tablet {
      @include d-grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}