.suitable {
  max-width: $max-width;
  margin: 0 auto $mg-bw-sections auto;
  padding: 0 13px;

  &__elements-group {
    margin: 30px 0;
  }

  &__element {
    padding: $space-bw-box;
    margin-bottom: 30px;

    background: url(/Art-Bit/media/wrapper.svg) no-repeat center;
    background-size: 100% 100%;
  }

  &__text-group {
    top: 0;

    font-family: $regular-font;

    color: $prm-cl;
  }

  &__title-group {
    display: flex;
    align-items: center;
    gap: 2%;

    padding-bottom: 30px;
  }

  &__title {
    font-size: 22px;
  }

  &__description {
    padding-bottom: $space-bw-box;

    font-size: 18px;
  }

  &__options {
    padding-bottom: 6px;

    font-size: 14px;

    color: $desc-cl;
  }
}

@media screen and (min-width: 834px) {
  .suitable {
    &__element {
      background: url(/Art-Bit/media/wrapper2.svg) no-repeat center;
      background-size: 100% 100%;
    }

    &__title {
      font-size: 36px;
    }

    &__description {
      font-size: 20px;
    }

    &__options {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .suitable {
    &__element {
      margin-bottom: 60px;

      background: url(/Art-Bit/media/wrapper3.svg) no-repeat center;
      background-size: 100% 100%;
    }

    &__title {
      font-size: 36px;
    }

    &__description {
      font-size: 20px;
    }

    &__options {
      font-size: 16px;
    }
  }
}