.suitable {
  max-width: $max-wd;
  margin: $mg-center $mg-bw-sections;
  padding: $pd-around-mob;

  &__elements-group {
    margin: $pd-hdr-top-mob $reset-space;
  }

  &__element {
    padding: $space-bw-box;
    margin-bottom: 3rem;

    background: url(/Art-Bit/media/wrapper.svg) no-repeat center;
    background-size: $full-wd $full-wd;

    @include for-tablet {
      background: url(/Art-Bit/media/wrapper2.svg) no-repeat center;
      background-size: $full-wd $full-wd;
    }
    
    @include for-desktop {
      margin-bottom: 6rem;

      background: url(/Art-Bit/media/wrapper3.svg) no-repeat center;
      background-size: $full-wd $full-wd;
    }
  }

  &__text-group {
    top: $reset-space;

    font-family: $regular-font;

    color: $prm-cl;
  }

  &__title-group {
    display: flex;
    align-items: center;
    gap: 2%;

    padding-bottom: $pd-hdr-top-mob;
  }

  &__title {
    font-size: $fs-xm;

    @include for-tablet {
      font-size: $fs-xl;
    }
  }

  &__description {
    padding-bottom: $space-bw-box;

    font-size: $fs-s;

    @include for-tablet {
      font-size: $fs-m;
    }
  }

  &__options {
    padding-bottom: 0.6rem;

    font-size: $fs-xxs;

    color: $desc-cl;

    @include for-tablet {
      font-size: $fs-xs;
    }
  }
}