.tokens {

  @include for-desktop {
    
  }

  &__elements-group {
    @include d-flex-scn;
    flex-wrap: wrap;
    row-gap: $tokens-gap;
    column-gap: 5%;  

    @include for-tablet {
      column-gap: 10%;
    }

    @include for-desktop {
      row-gap: $mg-bw-sections;
    }
  }

  &__element {
    position: relative;

    width: 16.2rem;

    padding: 2.1rem $reset-space;

    text-align: center;

    border: $border $page-cl;
    
    color: $prm-cl;

    @include for-tablet {
      width: 20rem;
    }

    @include for-desktop {
      width: 30rem;
    }

    &::before {
      content: '';

      position: absolute;

      top: -0.2rem;
      left: $tokens-gap;

      width: calc(100% - 8rem);
      height: calc(100% + 0.4rem);

      background-color: $bg-cl-prm;
    }
  }

  &__image {
    position: relative;

    width: 6rem;
  }

  &__name {
    position: relative;

    margin: 1.7rem auto 0.2rem;

    font-family: $semibold-font;
    font-size: 2.6rem;
  }

  &__description {
    position: relative;

    font-family: $regular-font;
    font-size: $fs-xs;

    color: $page-cl;

    cursor: pointer;

    @include for-tablet {
      font-size: $fs-m;
    }
  }

  &__button {
    text-align: center;
  }
}