.tokens {
  @include block-settings;
  padding: $mg-bw-sections 13px 100px 13px;

  &__elements-group {
    @include d-grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    row-gap: 40px;
    column-gap: 5%;  

    padding: 43px 0 60px 0;
  }

  &__element {
    position: relative;

    text-align: center;

    padding: 21px 0;

    border: 2px solid $page-cl;
    
    color: $prm-cl;

    &::before {
      content: '';

      position: absolute;

      top: -2px;
      left: 40px;

      width: calc(100% - 80px);
      height: calc(100% + 4px);

      background-color: $bg-cl-prm;
    }
  }

  &__image {
    position: relative;

    width: 60px;
  }

  &__name {
    position: relative;

    margin: 17px auto 2px;

    font-family: $semibold-font;
    font-size: 26px;
  }

  &__description {
    position: relative;

    font-family: $regular-font;

    color: $page-cl;
  }

  &__button {
    text-align: center;
  }
}

@media screen and (min-width: 834px) {
}

@media screen and (min-width: 1200px) {
  .tokens {
    padding: $mg-bw-sections 13px;
  }
}