.work {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--mg-between-sections) 13px;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--mg-work-section) 0;
  }

  &__preview {
    display: flex;
    justify-content: center;
    padding-bottom: var(--mg-work-section);
  }

  &__image {
    width: 100%;
    max-width: 497px;
  }

  &__description {
    font-family: var(--regular-font);
    font-size: 20px;

    color: var(--primary-color);

    &--gray {
      display: block;

      color: var(--page-color);
    }

    &--white {
      display: block;
    }
  }

  &__first-paragraph {
    margin-bottom: 15px;
  }
  &__second-paragraph {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 834px) {
  .work {
    &__info {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__preview {
      order: 2;
    }

    &__image {
      min-width: 497px;
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .work {
    &__description {
      font-size: 24px;
    }

    &__try-btn {
      margin-top: 150px;
    }

    &__image {
      min-width: 690px;
    }
  }
}