.work {
  @include block-settings;
  padding: $mg-bw-sections 13px 20px;

  &__info {
    @include d-flex;
    flex-direction: column;

    padding: $mg-work-section 0;
  }

  &__preview {
    display: flex;
    justify-content: center;
    padding-bottom: $mg-work-section;
  }

  &__image {
    width: 100%;
    max-width: 497px;
  }

  &__description {
    font-family: $regular-font;
    font-size: 20px;

    color: $prm-cl;

    &--primary {
      margin-bottom: 15px;
    }

    &--dark {
      display: block;

      color: $page-cl;
    }

    &--secondary {
      margin-bottom: 50px;
    }

    &--light {
      display: block;
    }
  }
}

@media screen and (min-width: 834px) {
  .work {
    &__info {
      @include d-flex;
      flex-direction: row;
    }

    &__preview {
      order: 2;
    }

    &__image {
      min-width: 497px;
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .work {
    &__description {
      font-size: 24px;
    }

    &__try-btn {
      margin-top: 150px;
    }

    &__image {
      min-width: 690px;
    }
  }
}