.header {
  @include block-settings;

  position: relative;

  @include d-flex;

  &__img { 
    padding-top: 5px;
    width: 36px;
  }

  &__blur {
    position: absolute;
    top: 10px;
    left: -20px;

    background: rgba(16, 41, 33, 0.34);

    filter: blur(42px);
  }

  &__nav {
    display: none;

    font-family: $medium-font;

    color: $prm-cl;
  }

  &__btn {
    display: none;
  }

  &__menu {
    cursor: pointer;
  }
}

@media screen and (min-width: 834px) {
  .header {
    margin: 0 auto;
    padding: 30px 13px 90px 13px;

    &__img {
      width: 50px;
    }

    &__blur {
      top: 15px;
      left: 0px;
    }

    &__icon {
      width: 25px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding:30px 13px 90px 13px;

    &__blur {
      left: 0px;
    }

    &__nav {
      display: flex;

      font-size: 16px;
    }

    &__list {
      display: flex;
      gap: 55px;

      cursor: pointer;
    }

    &__item {
      position: relative;

      transition: all 0.2s ease;

      &:hover {
        color: $desc-cl;
  
        &::after {
          content: '';

          position:absolute;
          bottom: -5px;
          left: 0;

          width: 34px;
          height: 2px;

          background: $scn-cl;
    
          color: $prm-cl;
        }
      }

      &:active {
        color: $prm-cl;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      gap: 14px;

      padding: 8px 10px;

      font-family: $semibold-font;
      font-size: 18px;

      background-color: $scn-cl;

      border: 2px solid $scn-cl;

      cursor: pointer;

      transition: 0.2s ease-in-out;

      &:hover {
        background-color: transparent;

        border-color: $desc-cl;
  
        color: $scn-cl;

        & .header__user-icon {
          stroke: $scn-cl;
        }
      }

      &:active {
        color: $desc-cl;

        & .header__user-icon {
          stroke: $desc-cl;
        }
      }
    }

    &__user-icon {
      width: 16px;

      stroke: black;
    }

    &__menu {
      display: none;
    }
  }
}