.text-group {

  &__page {
    font-family: $regular-font;
    font-size: 15px;

    color: $page-cl;
  }

  &__title {
    font-family: $regular-font;
    font-size: 19px;

    color: $desc-cl;
  }
}

@media screen and (min-width: 834px) {
  .text-group {

    &__page {
      font-size: 22px;
    }

    &__title {
      font-size: 32px;
    }
  }
}