.text-group {

  &__page {
    font-family: $regular-font;
    font-size: $fs-xxs;

    color: $page-cl;

    @include for-tablet {
      font-size: $fs-xm;
    }
  }

  &__title {
    font-family: $regular-font;
    font-size: $fs-m;

    color: $desc-cl;

    @include for-tablet {
      font-size: $fs-xl;
    }
  }
}