.try-link {
  position: relative;

  padding: 17px 27px;

  border: 2px solid var(--secondary-color);

  font-family: "MontserratSemiBold";
  font-size: 18px;

  color: var(--secondary-color);

  transition: all 0.2s ease;

  &::before {
    content: '';

    position: absolute;
    top: -2px;
    left: 40px;

    width: calc(100% - 80px);
    height: calc(100% + 4px);

    background-color: var(--background-color-prm);

    transition: all 1s ease-in-out;

    transform: scaleY(1);
  }

  &:hover::before {
    transform: scaleY(0);
  }

  &:active {
    border-color: var(--description-color);
    color: var(--description-color);
  }

  &__title {
    position: relative;
    z-index: 3;
  }
}