body {
  padding: $body-main-padding; 
  background-color: $bg-cl-prm;
  width: 100%;
  margin: $mg-center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $main-gap-mobile;

  padding: 2rem 0;
  margin: $mg-center;

  @include for-tablet {
    gap: $main-gap-tablet;
    
    padding: $main-pd;
  }
}

header, section, footer {
  max-width: $max-wd;
  margin: $mg-center;
  padding: $pd-around-mob;

  @include for-tablet {
    padding: $pd-around-mob;
  }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}