:root {
  --mobile-margin-around: 0 13px;
  --mg-between-sections: 85px;
  --mg-work-section: 33px;

  --max-width: 1226px;

  --background-color-prm: #101014;
  --background-color-scn: #ffffff;

  --regular-font: "MontserratRegular";
  --medium-font: "MontserratMedium";
  --semibold-font: "MontserratSemiBold";
  --bold-font: "MontserratBold";

  --primary-color: #fff;
  --secondary-color: #63E2B7;
  --page-color: #484848;
  --description-color: #989898;
}