$mg-mob-around: 0 1.3rem;
$mg-bw-sections: 8.5rem;
$mg-work-section: 3.3rem;
$space-bw-box: 2rem;

$max-width: 1226px;

$bg-cl-prm: #101014;
$bg-cl-scn: #fff;
$bg-box-cl: #000;

$regular-font: "MontserratRegular", sans-serif;
$medium-font: "MontserratMedium", sans-serif;
$semibold-font: "MontserratSemiBold", sans-serif;
$bold-font: "MontserratBold", sans-serif;

$prm-cl: #fff;
$scn-cl: #63E2B7;
$page-cl: #484848;
$desc-cl: #989898;